<body>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="../../index.php">Théo Chaffotte et Clément Malidor</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion des vaccins <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="routeur.php?action=liste_vaccins">Liste des vaccins</a></li>
                    <li><a href="routeur.php?action=form_vaccin">Ajout d'un vaccin</a></li>
                    <li><a href="routeur.php?action=form_modif_vaccin">Mise à jour d'un vaccin</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion des centres <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Ajout d'un centre</a></li>
                    <li><a href="#">Liste des centres</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion des patients <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Ajout d'un patient</a></li>
                    <li><a href="#">Liste des patients</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion des stocks <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Liste des centres avec le nombre de doses de chaque vaccin</a></li>
                    <li><a href="#">Nombre global de doses des centres</a></li>
                    <li><a href="#">Atribution de vaccins pour un centre</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion des rendez-vous <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Dossier de vaccination d'un patient</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mes innovations <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Documentations innovation 1</a></li>
                    <li><a href="#">Documentations innovation 2</a></li>
                    <li><a href="#">Documentations innovation 3</a></li>
                    <li><a href="#">Votre point de vue global sur ce projet</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentations <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Documentations innovation 1</a></li>
                    <li><a href="#">Documentations innovation 2</a></li>
                    <li><a href="#">Documentations innovation 3</a></li>
                    <li><a href="#">Votre point de vue global sur ce projet</a></li>
                  </ul>
                </li>              
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        
        
